<div class="container">
  <h1>
    <img alt="Angular Logo" class="angular-logo">
    Rekursion!
  </h1>

  <div class="content">

    <h6>Trigger <code>nextPage$</code> subject:</h6>
    <button
      class="btn"
      [ngClass]="{
        'btn-primary': currentPage === i ,
        'btn-secondary': currentPage !== i
      }"
      *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"

      (click)="nextPage$.next(i)"
    >Page {{ i }}</button>

    <h2 class="mt-5" [hidden]="!currentPage">
      Page {{ currentPage }}
      <span class="float-right badge badge-secondary">{{ output.length }} Items</span>
    </h2>

    <table class="table table-striped" *ngIf="output.length">
      <thead>
        <tr>
          <th scope="col" class="w-25">#</th>
          <th scope="col" class="w-50">Name</th>
          <th scope="col" class="w-25">Beschreibung</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let o of output">
          <th scope="row">{{ o.id }}</th>
          <td>{{ o.name }}</td>
          <td>{{ o.description }}</td>
        </tr>
      </tbody>
    </table>




  </div>
</div>
